* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

header {
    position: fixed;
    width: 100%;
    height: 69px;
    background-color: black;
    top: 0;
}

body {
    margin-top:69px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

footer {
    text-align: left;
}


/******************** Header ********************/
#logo {
    height: 50px;
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 69px;
    overflow: hidden;
    background-color: black;
}

nav li {
    float: right;
}

li a {
    display: block;
    color: seashell;
    text-align: center;
    padding: 14px 10px;
    text-decoration: underline;
  }

/******************* our-mission ********************/
#our-mission {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    height: 700px;
    width: 1200px;
    text-align: center;
}

#our-mission h2 h4 {
    background-color: black;
    opacity: 1;
}


#tea-of-month {
    text-align: center;
}

#catalog {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-color: wheat ;
    border: 1px;
    border-style: solid;
}

#catalog-images {
    height: 200px;
    width: 300px;
    padding: 10px;
}

figcaption {
    text-align: center;
}

/******************** Locations ********************/
#locations-div {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg);
    height: 500px;
    width: 1200px;
    text-align: center;
}

#locations-container {
    text-align: center;
    align-content: center;
    justify-content: center;
    display: flex;
}

#locations {
    width: 300px;
    height: 300px;
    background-color: black;
    opacity: 1;
}

/******************** Contact ********************/
#contact {
    height: 200px;
    text-align: center;
}
